<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Projeto_Fim_2020/src/lambdas/Operador_Unario.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="lambdas.Operador_Unario"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="projeto_fim_2020"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Projeto_Fim_2020"/>
</launchConfiguration>
